<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <figure class="card">
      <div class="card__img"><img src="{%IMAGE%}" alt="" srcset="" /></div>

      <div class="card__title-box">
        <h2 class="card__title">{%PLANET_NAME%}</h2>
      </div>

      <div class="card__details">
        <div class="card__detail-box"></div>

        <div class="card__detail-box">
          <h6 class="card__detail">Radius of {%PLANET_NAME%}: {%RADIUS%}</h6>
        </div>
        <!-- 
        <div class="card__detail-box">
          <h6 class="card__detail card__detail--price">Formed {%FORMED%}</h6>
        </div> -->
      </div>

      <a class="card__link" href="/planet?id={%ID%}">
        <span>Detail <i class="emoji-right">👉</i></span>
      </a>
    </figure>
  </body>
</html>
